<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/images/bbo_logo.png">
    <title>BBO</title>

    <style>
        @font-face {
  font-family: carico;
  src: url('https://fonts.google.com/specimen/Cairo');
}
html{
    background-color: #001f42;
}
nav{
    margin:auto;
    background-color: #02001f;
    height: 60px;
    display: block;
    padding: 6px;
    border: 1px solid #02001f;
    border-radius: 30px;
    position: fixed;
    width: 96%;
}
img{
    width: 50px;
    padding: 10px;
}
div{
    font-family: carico;
    text-align: center;
    padding: 10px;
    font-size: 35px;
    margin:auto;
    color:aqua;
}
    </style>

</head>
<body>
    <nav class="nav">
<img src="/public/images/bbo_logo.png" style="float:left">
<div>Brawlhalla Bangladesh Official</div>
    </nav>
</body>
</html>